{% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/theory.html', 'theory', 'Theory'),
    ('/setup.html', 'setup', 'Setup'),
    ('/simulation.html', 'simulation', 'Simulation'),
    ('/calibration.html', 'calibration', 'Calibration'),
    ('/optimization.html', 'optimization', 'Optimization'),
    ('/export.html', 'export', 'Export')
] -%}
{% set active_page = active_page|default('index') -%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Base Template{% endblock %} | ABCD Model</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ABCD Model">
    <meta name="author" content="Jeffrey D. Walker">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <style>
      {% block style %}
      {% endblock %}
    </style>

    <script src="{{ url_for('static', filename='js/libs/modernizr.min.js') }}"></script>
    <script data-main="{{ url_for('static', filename='js/main.js') }}" src="{{ url_for('static', filename='js/libs/require.min.js') }}"></script>
    <script>var currentPage = "{{ active_page }}";</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-20715617-4', 'walkerjeff.com');
      ga('send', 'pageview');

    </script>
  {% endblock %}
  </head>

<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  <div class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" href="/">ABCD Model</a>          
      <ul class="nav navbar-nav">
      {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif
        %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
      {% endfor %}
      </ul>
      <p class="navbar-text pull-right" id="status"></p>
    </div>
  </div>

  <div class="container">
    <div id="page-view">
      <div class="alert-messages">
        <div class="alert" id="alert" style="display: none;">
          <div id="message"></div>
        </div>
      </div>
      {% block content %}
      {% endblock %}
      
      {% block modals %}
      {% endblock %}
    </div>
    <div class="footer">
      {% block footer %}
      <hr>
      &copy; Jeffrey D. Walker, 2014
      {% endblock %}
    </div>
  </div>


{% block scripts %}
{% endblock %}
</body>
</html>
