{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1>ABCD Water Balance Model</h1>
    <p>This web application provides a series of interactive user interfaces for using the ABCD water balance model. It is intended primarily as an educational tool to learn about the hydrologic cycle and watershed modeling.</p>
    <p><a href="/theory" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

{% endblock %}
