{% extends "base.html" %}
{% set active_page = "montecarlo" %}

{% block title %}Monte Carlo{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">      
      <div class="btn-toolbar">
        <button class="btn btn-primary" id="btn-save"><span class="glyphicon glyphicon-save"></span> Save</button>
        <button class="btn btn-danger" data-target="#modal-delete" data-toggle="modal" id="btn-delete-model"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <button class="btn btn-success" data-target="#modal-help" data-toggle="modal"><span class="glyphicon glyphicon-question-sign"></span> Help</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="tab-content">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#parameters" data-toggle="tab">Parameters</a></li>
          <li><a href="#initial" data-toggle="tab">Initial</a></li>
        </ul>
        <div class="tab-pane active" id="parameters">
          <dl>
            <dt>a: <span id="param-a"></span></dt>
            <dd><input class="slider" type="range" min="0.98" max="1" step="0.0001" value="1" name="a" /></dd>

            <dt>b: <span id="param-b"></span></dt>
            <dd><input class="slider" type="range" min="1" max="10" step="0.1" value="5" name="b" /></dd>

            <dt>c: <span id="param-c"></span></dt>
            <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.5" name="c" /></dd>

            <dt>d: <span id="param-d"></span></dt>
            <dd><input class="slider" type="range" min="0" max="0.2" step="0.001" value="0.1" name="d"/></dd>
          </dl>
        </div>
        <div class="tab-pane" id="initial">
          <dl>
            <dt>Snow Depth: <span id="param-A0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="1" name="A0"/></dd>

            <dt>Soil Moisture: <span id="param-S0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="S0"/></dd>

            <dt>Groundwater: <span id="param-G0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="G0"/></dd>
          </dl>
        </div>
      </div>
      <hr>
      <div>
        <button class="btn btn-default" id="btn-random">Random</button>
        <button class="btn btn-default" id="btn-optimal">Optimal</button>
      </div>

      <hr>
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
          <button class="btn btn-default" id="btn-start">Start</button>
          <button class="btn btn-default" id="btn-stop">Stop</button>
          <button class="btn btn-primary" id="btn-reset">Reset</button>
          <button class="btn btn-danger" id="btn-track">Tracking Off</button>
        </div>
      </div>

      <hr>
      <div id="stats">
        <ul class="unstyled">
          <li><strong># Simulations:</strong> <span id="stat-n">0</span></li>
          <li><strong><abbr title="Root Mean Square Error">RMSE</abbr></strong>: <span id="stat-rmse"></span></li>
          <li><strong><abbr title="Nash-Sutcliffe Efficiency">NSE</abbr></strong>: <span id="stat-nse"></span></li>
        </ul>
        <small>Note: All statistics computed from log-transformed variables</small>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div id="chart-line"></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-lg-3">
          <div id="chart-a" class="pull-left"></div>
        </div>
        <div class="col-xs-6 col-lg-3">
          <div id="chart-b" class="pull-left"></div>
        </div>
        <div class="col-xs-6 col-lg-3">
          <div id="chart-c" class="pull-left"></div>
        </div>
        <div class="col-xs-6 col-lg-3">
          <div id="chart-d" class="pull-left"></div>  
        </div>
      </div>
    </div>
  </div>
{% endblock %}
