{% extends "base.html" %}
{% set active_page = "montecarlo" %}

{% block title %}Monte Carlo{% endblock %}

{% block style %}
  {{ super() }}
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    opacity: 0.25;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.2px;
  }

  svg {
    font-size: 10px;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .btn-group-wrap {
    text-align: center;
  }
{% endblock %}

{% block content %}
  <h1>Monte Carlo Simulation</h1>
  <hr>
  <div class="row">
    <div class="span3">
      <div class="tab-content">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#parameters" data-toggle="tab">Parameters</a></li>
          <li><a href="#initial" data-toggle="tab">Initial</a></li>
        </ul>
        <div class="tab-pane active" id="parameters">
          <div class="btn-group-wrap">
            <div class="btn-group">
              <button class="btn" id="btnRandom">Random</button>
              <button class="btn" id="btnOptimal">Optimal</button>
            </div>
          </div>
          <dl>
            <dt>a: <span id="param-a"></span></dt>
            <dd><input class="slider" type="range" min="0.98" max="1" step="0.0001" value="0.998" name="a" /></dd>

            <dt>b: <span id="param-b"></span></dt>
            <dd><input class="slider" type="range" min="1" max="10" step="0.1" value="6.35" name="b" /></dd>

            <dt>c: <span id="param-c"></span></dt>
            <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.38" name="c" /></dd>

            <dt>d: <span id="param-d"></span></dt>
            <dd><input class="slider" type="range" min="0" max="0.2" step="0.001" value="0.0302" name="d"/></dd>
          </dl>
        </div>
        <div class="tab-pane" id="initial">
          <dl>
            <dt>Snow Depth: <span id="param-A0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="1" name="A0"/></dd>

            <dt>Soil Moisture: <span id="param-S0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="S0"/></dd>

            <dt>Groundwater: <span id="param-G0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="G0"/></dd>
          </dl>
        </div>
      </div>
      <hr>
      <div class="btn-toolbar">
        <div class="btn-group-wrap">
          <div class="btn-group">
            <button class="btn btn-info" id="btnStart">Start</button>
            <button class="btn btn-info" id="btnStop">Stop</button>
            <button class="btn btn-primary" id="btnReset">Reset</button>
            <button class="btn" id="btnTrack">Tracking Off</button>
          </div> 
        </div>
      </div>

      <hr>
      <div id="stats">
        <ul class="unstyled">
          <li><strong># Simulations:</strong> <span id="stat-n">0</span></li>
          <li><strong><abbr title="Root Mean Square Error">RMSE</abbr></strong>: <span id="stat-rmse"></span></li>
          <li><strong><abbr title="Nash-Sutcliffe Efficiency">NSE</abbr></strong>: <span id="stat-nse"></span></li>
        </ul>
        <small>Note: All statistics computed from log-transformed variables</small>
      </div>
    </div>
    <div class="span9">
      <div id="chart-line"></div>
      <div id="chart-a" class="pull-left"></div>
      <div id="chart-b" class="pull-left"></div>
      <div id="chart-c" class="pull-left"></div>
      <div id="chart-d" class="pull-left"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/jstorage.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
  <script src="{{ url_for('static', filename='js/psMathStats.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>

  <script>
  var App = {
    params: {
      'a': 0.998431008020005,
      'c': 0.38,
      'b': 6.35089223836597,
      'e': 0.0799627811160295,
      'd': 0.0302224997131877,
      'Tb': -0.07124,
      'A0': 1.0,
      'S0': 2.0,
      'G0': 2.0,
      'PET': 1.0
    },

    eqns: {
      Y: function(W) {
        return (W+App.params.b)/(2*App.params.a) - Math.sqrt(Math.pow((W+App.params.b)/(2*App.params.a),2) - (W*App.params.b/App.params.a));  
      },
      S: function(W) {
        return App.eqns.Y(W)*Math.exp(-App.params.PET/App.params.b);
      },
      ET: function(W) {
        return App.eqns.Y(W) - App.eqns.S(W);
      },
      Qrecharge: function(W) {
        return App.params.c*(W - App.eqns.Y(W));
      },
      Qrunoff: function(W) {
        return (1-App.params.c)*(W - App.eqns.Y(W));
      }
    },

    formats: {
      dateFormat: d3.time.format("%Y-%m-%d"),
      numberFormat: d3.format("4.4f")
    },

    tracker: {
      status: true,
      optimal: 0,
      selected: 0
    },

    initCharts: function() {
      var that = this;

      this.chartLine = d3.custom.TimeseriesLineChart()
        .x(function(d) { return d.Date; })
        .width(870)
        .height(200)
        .yVariables(['Flow_in', 'optimalQ', 'Q'])
        .yDomain([0.001, 2])
        .yScale(d3.scale.log())
        .color(this.colors)
        .yLabel('Observed (Black), Simulated (Red), and Optimal (blue) Streamflow (in/day)');

      var circleFill = function(d, i) {
        return (i === that.tracker.optimal) ? 'red' : 'black';
      }

      var circleClick = function(d, i) {
        that.loadSimulation(d);
      }

      this.chartA = d3.custom.DottyChart()
        .x(function(d) { return d.a; })
        .y(function(d) { return d.rmse; })
        .width(215)
        .height(200)
        .r(2)
        .opacity(0.5)
        .fill(circleFill)
        .click(circleClick)
        .xDomain([0.98, 1])
        .yLabel('RMSE')
        .xLabel('Parameter a');

      this.chartB = d3.custom.DottyChart()
        .x(function(d) { return d.b; })
        .y(function(d) { return d.rmse; })
        .width(215)
        .height(200)
        .r(2)
        .opacity(0.5)
        .fill(circleFill)
        .click(circleClick)
        .xDomain([1, 10])
        .yLabel('RMSE')
        .xLabel('Parameter b');

      this.chartC = d3.custom.DottyChart()
        .x(function(d) { return d.c; })
        .y(function(d) { return d.rmse; })
        .width(215)
        .height(200)
        .r(2)
        .opacity(0.5)
        .fill(circleFill)
        .click(circleClick)
        .xDomain([0, 1])
        .yLabel('RMSE')
        .xLabel('Parameter c');

      this.chartD = d3.custom.DottyChart()
        .x(function(d) { return d.d; })
        .y(function(d) { return d.rmse; })
        .width(215)
        .height(200)
        .r(2)
        .opacity(0.5)
        .fill(circleFill)
        .click(circleClick)
        .xDomain([0, 0.2])
        .yLabel('RMSE')
          .xLabel('Parameter d');
    },

    initControls: function() {
      var that = this;

      this.updateSliders();
      this.updateTracker();

      $(".slider").change(function() {
        $("#param-"+this.name).text(this.value);
        that.params[this.name] = +this.value;
        
        that.render();
      });

      $('#btnRandom').click(function() {
        that.randomize();
        that.render();
      });

      $('#btnOptimal').click(function() {
        that.loadOptimal();
      });

      $('#btnReset').click(function() {
        that.reset();
      });

      $('#btnTrack').click(function() {
        that.tracker.status = !that.tracker.status;
        that.updateTracker();
      });

      $('#btnStart').click(function() {
        console.log('Starting monte carlo');
        that.intervalId = setInterval(function() {
          that.randomize();
          that.render();
        }, 1)
      });

      $('#btnStop').click(function() {
        console.log('Stopping monte carlo');
        clearInterval(that.intervalId);
      })
    },

    init: function() {
      var that = this;
      
      this.optSim = 0;
      this.colors = d3.scale.ordinal()
        .range(["#d62728", "#444444", "steelblue"])
        .domain(['Q', 'Flow_in', 'optimalQ']);

      this.randomize();
      this.initCharts();
      this.initControls();

      this.loadData();
    },

    loadData: function() {
      var that = this;
      console.log('Loading: input');
      var dataset = $.jStorage.get('input');
      if (dataset === null) {
        console.log('Warning: input dataset not found in local storage');
        return null;
      } else {
        dataset.forEach(function(d) {
          d.Date = new Date(d.Date);
        });
        this.inp = dataset;
      }

      if (!!this.inp == false) {
        console.log();('Error: could not load data')
      } else {
        this.inp.forEach(function(d) {
          // d.Date = dateFormat.parse(d.Date);
          d.Tavg_C = (d.Tmin_C + d.Tmax_C)/2;
          d.Flow_in = d.Flow_in > 0 ? d.Flow_in : 0.0001;
        });
        that.reset();
      }
    },

    setParams: function(_params) {
      var that = this;
      ['a', 'b', 'c', 'd'].forEach(function(v) {
        that.params[v] = _params[v];
      })
    },

    updateParamSliders: function(_params) {
      this.setParams(_params);
      this.updateSliders();
    },

    updateSliders: function() {
      var that = this;

      $(".slider").each(function() {
        this.value = +that.params[this.name];
        $("#param-"+this.name).text(this.value);
      });
    },

    reset: function() {
      this.inp.forEach(function(d) {
        d.optimalQ = 0.001;
      })

      this.history = [];
      this.tracker.optimal = null;
      this.tracker.selected = null;
      this.render();
    },

    randomize: function() {
      var randomParams = {
        a: Math.random()*0.02 + 0.98,
        b: Math.random()*9 + 1,
        c: Math.random(),
        d: Math.random()*0.2
      };

      this.updateParamSliders(randomParams);
    },

    updateTracker: function() {
      var that = this;
      d3.select("#btnTrack").classed("btn-success", this.isTracking()).classed("btn-danger", !this.isTracking());
      d3.select("#btnTrack").text(function() {
        if (that.isTracking()) {
          return "Tracking On";
        } else {
          return "Tracking Off"
        }
      })
    },

    isTracking: function() {
      return this.tracker.status;
    },

    solve: function(params, inp) {
      var a = params['a'];
      var b = params['b'];
      var c = params['c'];
      var d = params['d'];
      var e = params['e'];
      var Tb = params['Tb'];

      var At, mt, Pe, W, Y, S, GR, DR, G, dG, ET, Q;

      var out = inp.map(function(v, i) {

        if (i === 0) { // assign initial conditions
          At = params['A0'];
          S = params['S0'];
          G = params['G0'];
        } else {
          At = Math.max((v.Tavg_C > Tb ? At - mt : At - mt + v.Precip_in), 0);
        }

        mt = v.Tavg_C > Tb ? Math.min(At, e*(v.Tavg_C - Tb)) : 0;
        Pe = v.Tavg_C < Tb ? 0 : v.Precip_in + mt;

        W = S + Pe;
        Y = (W + b)/(2 * a) - Math.sqrt(Math.pow((W + b)/(2 * a),2) - (W * b / a));
        S = Y * Math.exp(-v.PET_in / b);
        GR = c * (W - Y);
        DR = Math.max((1 - c) * (W - Y), 0.001);

        G = (GR + G)/(1 + d);
        dG = d * G;
        ET = Y - S;
        Q = Math.max(DR + dG, 0.001);

        return {
            Date: v.Date,
            Tavg_C: v.Tavg_C,
            Precip_in: v.Precip_in,
            PET_in: v.PET_in,
            Flow_in: v.Flow_in,
            optimalQ: v.optimalQ,
            W: W,
            S: S,
            G: G,
            Y: Y,
            GR: GR,
            DR: DR,
            dG: dG,
            ET: ET,
            At: At,
            mt: mt,
            Pe: Pe,
            Q: Q
          };
      })

      return out;
    },

    computeStats: function(data, obs, sim) {
      function log10(x) {
        return Math.log(x)*Math.LOG10E;
      }

      var log_resid2 = data.map(function(d) {
        return Math.pow(log10(d[obs]) - log10(d[sim]), 2);
      });

      var log_obs = _.pluck(data, obs).map(function(d) {
        return log10(d);
      });

      var mse = log_resid2.mean();

      return {
        rmse: Math.sqrt(mse),
        nse: 1 - mse / log_obs.variance()
      }
    },

    loadSelected: function() {
      this.loadSimulation(this.history[this.tracker.selected]);
    },

    loadOptimal: function() {
      if (this.tracker.optimal != null) {
        this.loadSimulation(this.history[this.tracker.optimal]);
      }
    },

    loadSimulation: function(_params) {
      this.updateParamSliders(_params);
      this.render(false);
    },

    render: function(_increment) {
      if (arguments.length === 0) {
        _increment = true;
      }

      var data = this.solve(this.params, this.inp),
          stats = this.computeStats(data, 'Flow_in', 'Q');

      var currentParams = _.clone(this.params);
      currentParams.rmse = stats.rmse;
      this.tracker.selected = this.history.length;

      if (this.isTracking() & _increment) {
        this.history.push(currentParams);

        if (this.tracker.optimal == null || stats.rmse < this.history[this.tracker.optimal].rmse) {
          this.tracker.optimal = this.tracker.selected;
          this.inp.forEach(function(d, i) {
            d.optimalQ = data[i].Q;
          });
        }
      };

      var optimalParams = this.tracker.optimal == null ? [] : [this.history[this.tracker.optimal]];
      
      this.chartA.data(this.history)
        .optimal(optimalParams)
        .highlight([currentParams]);
      this.chartB.data(this.history)
        .optimal(optimalParams)
        .highlight([currentParams]);
      this.chartC.data(this.history)
        .optimal(optimalParams)
        .highlight([currentParams]);
      this.chartD.data(this.history)
        .optimal(optimalParams)
        .highlight([currentParams]);

      d3.select("#chart-a").call(this.chartA);
      d3.select("#chart-b").call(this.chartB);
      d3.select("#chart-c").call(this.chartC);
      d3.select("#chart-d").call(this.chartD);

      d3.select("#stat-n").text(this.history.length);
      d3.select("#stat-rmse").text(this.formats.numberFormat(stats.rmse));
      d3.select("#stat-nse").text(this.formats.numberFormat(stats.nse));
      d3.select("#chart-line").call(this.chartLine.data(data));
    }
  }
  
  $(function() {
    App.init();
  });
  </script>
{% endblock %}