{% extends "base.html" %}
{% set active_page = "simulation" %}

{% block title %}Simulation{% endblock %}

{% block style %}
  {{ super() }}
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    opacity: 0.25;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  svg {
    font-size: 10px;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }
{% endblock %}

{% block content %}
  <h1>Model Simulation</h1>
  <hr>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#parameters" data-toggle="tab">Parameters</a></li>
        <li><a href="#initial" data-toggle="tab">Initial</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="parameters">
          <dl>
            <dt>a: <span id="param-a"></span></dt>
            <dd><input class="slider" type="range" min="0.98" max="1" step="0.001" value="0.998" name="a" /></dd>

            <dt>b: <span id="param-b"></span></dt>
            <dd><input class="slider" type="range" min="1" max="10" step="0.1" value="6.35" name="b" /></dd>

            <dt>c: <span id="param-c"></span></dt>
            <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.38" name="c" /></dd>

            <dt>d: <span id="param-d"></span></dt>
            <dd><input class="slider" type="range" min="0" max="0.2" step="0.001" value="0.0302" name="d"/></dd>
          </dl>
        </div>
        <div class="tab-pane" id="initial">
          <dl>
            <dt>Snow Depth: <span id="param-A0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="1" name="A0"/></dd>

            <dt>Soil Moisture: <span id="param-S0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="S0"/></dd>

            <dt>Groundwater: <span id="param-G0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="G0"/></dd>
          </dl>
        </div>
      </div>
      <hr>
      <div id="chart-structure"></div>
    </div>
    <div class="span6">
      <h4>Simulated Streamflow (in/day)</h4>
      <div id="chart-line"></div>
      <div id="chart-area-flows"></div>
      <div id="chart-area-stocks"></div>
    </div>
    <div class="span3">
      <h4>Model Diagram</h4>
      <svg xmlns="http://www.w3.org/2000/svg" width="323px" height="307px" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="diagram">
        <defs/>
        <g transform="translate(0.5,0.5)scale(0.8,0.8)">
          <g transform="translate(10,105)">
              <rect x="0" y="0" width="120" height="60" fill="#ffffff" stroke="#000000" pointer-events="none" id="comp-S" class="component"/>
              <text x="58" y="35" fill="white" text-anchor="middle" font-size="12px" font-family="Helvetica">Soil Moisture</text>
          </g>
          
          <g transform="translate(10,235)">
              <rect x="0" y="0" width="120" height="60" fill="#ffffff" stroke="#000000" pointer-events="none" id="comp-G" class="component"/>    
              <text x="58" y="35" fill="white" text-anchor="middle" font-size="12px" font-family="Helvetica">Groundwater</text>
          </g>
          <path d="M 130 140 L 130 130 L 190 130 L 190 120 L 220 135 L 190 150 L 190 140 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-DR" class="component"/>
          <path d="M 130 280 L 130 270 L 190 270 L 190 260 L 220 275 L 190 290 L 190 280 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-dG" class="component"/>
          <path d="M 64 165 L 74 165 L 74 205 L 84 205 L 69 235 L 54 205 L 64 205 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-GR" class="component"/>
          <path d="M 105 105 L 95 105 L 95 55 L 85 55 L 100 25 L 115 55 L 105 55 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-ET" class="component"/>
          <path d="M 35 25 L 45 25 L 45 75 L 55 75 L 40 105 L 25 75 L 35 75 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-P" class="component"/>
          <rect x="145" y="95" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g text-anchor="middle" font-size="12px">
            <text x="160" y="108" fill="#000000" font-family="Helvetica">Runoff</text>
          </g>
          <rect x="90" y="185" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g font-size="12px">
            <text x="92" y="198" fill="#000000" font-family="Helvetica">Recharge</text>
          </g>
          <rect x="150" y="235" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g text-anchor="middle" font-size="12px">
            <text x="165" y="248" fill="#000000" font-family="Helvetica">Discharge</text>
          </g>
          <rect x="20" y="2" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g text-anchor="middle" font-size="12px">
            <text x="35" y="15" fill="#000000" font-family="Helvetica">Precipitation</text>
          </g>
          <rect x="90" y="2" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g text-anchor="middle" font-size="12px">
            <text x="105" y="15" fill="#000000" font-family="Helvetica">ET</text>
          </g>
          <path d="M 230 209 L 230 199 L 280 199 L 280 189 L 310 204 L 280 219 L 280 209 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-Q" class="component" />
          <rect x="220" y="134" width="10" height="141" fill="#ffffff" stroke="#000000" pointer-events="none"/>
          <rect x="240" y="165" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g font-size="12px">
            <text x="242" y="178" fill="#000000" font-family="Helvetica">Streamflow</text>
          </g>
        </g>
      </svg>
    </div>
  </div>


{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/jstorage.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>

  <script>
  var App = {
    params: {
      'a': 0.998431008020005,
      'c': 0.38,
      'b': 6.35089223836597,
      'e': 0.0799627811160295,
      'd': 0.0302224997131877,
      'Tb': -0.07124,
      'A0': 1.0,
      'S0': 2.0,
      'G0': 2.0,
      'PET': 1.0
    },

    init: function() {
      var that = this;
      
      var dateFormat = d3.time.format("%Y-%m-%d");
      
      // this.colors = d3.scale.ordinal()
      //   .range(["#444444", "#1f77b4", "#aec7e8", "#ffbb78", "#ff7f0e", "#98df8a","#2ca02c",  "#d62728", "#ff9896", "#9467bd", "#c5b0d5", "#8c564b", "#c49c94", "#e377c2", "#f7b6d2", "#7f7f7f", "#c7c7c7", "#bcbd22", "#dbdb8d", "#17becf", "#9edae5"])
      //   .domain(['Q', 'S', 'ET', 'GR', 'DR', 'G', 'dG', 'P']);
      // switch P and Q

      this.colors = d3.scale.ordinal()
        .range(["#444444", "#1f77b4", "#aec7e8", "#ffbb78", "#ff7f0e", "#98df8a", "#2ca02c", "#d62728", "#ff9896", "#9467bd", "#c5b0d5", "#8c564b", "#c49c94", "#e377c2", "#f7b6d2", "#7f7f7f", "#c7c7c7", "#bcbd22", "#dbdb8d", "#17becf", "#9edae5"])
        .domain(['P', 'S', 'ET', 'GR', 'DR', 'G', 'dG', 'Q']);
      // this.colors = d3.scale.ordinal()
      //   .range(["#444444", "#ffbb78", "#aec7e8", "#1f77b4", "#ff7f0e", "#98df8a","#2ca02c",  "#d62728", "#ff9896", "#9467bd", "#c5b0d5", "#8c564b", "#c49c94", "#e377c2", "#f7b6d2", "#7f7f7f", "#c7c7c7", "#bcbd22", "#dbdb8d", "#17becf", "#9edae5"])
      //   .domain(['Q', 'S', 'ET', 'GR', 'DR', 'G', 'dG', 'P']);

      this.initDiagram(this.colors);
      this.initTheoryChart();

      this.chartLine = d3.custom.TimeseriesLineChart()
        .x(function(d) { return d.Date; })
        .width(550)
        .height(200)
        .yVariables(['Q'])
        .yDomain([0.001, 2])
        .yScale(d3.scale.log())
        .color(this.colors);

      this.chartAreaFlows = d3.custom.TimeseriesAreaChart()
        .x(function(d) { return d.Date; })
        .width(550)
        .height(200)
        .yVariables(['dG', 'DR'])
        // .yDomain([0, 1])
        .yScale(d3.scale.linear())
        .color(this.colors)
        .mouseover(function(d, i) {
          console.log(d.name);
        });

      this.chartAreaStocks = d3.custom.TimeseriesAreaChart()
        .x(function(d) { return d.Date; })
        .width(550)
        .height(200)
        .yVariables(['G', 'S'])
        // .yDomain([0, 10])
        .yScale(d3.scale.linear())
        .color(this.colors)
        .mouseover(function(d, i) {
          console.log(d.name);
        });


      $(".slider").each(function() {
        this.value = +that.params[this.name];
        $("#param-"+this.name).text(this.value);
      });

      $(".slider").change(function() {
        $("#param-"+this.name).text(this.value);
        that.params[this.name] = +this.value;
        
        that.render();
      });

      this.loadData();
    },

    initDiagram: function(colors) {
      var components = d3.select('#diagram').selectAll('.component');
      components.each(function(d,i) {
        var key  = this.getAttribute('id');
        key = key.slice(5, key.length);
        this.setAttribute('fill', colors(key));
      });
    },

    initTheoryChart: function() {
      this.chartStructure = d3.custom.ComponentChart()
        .width(270)
        .height(200)
        .funcs([
          {label: 'Soil', name: 'S', func: this.eqns.S},
          {label: 'ET', name: 'ET', func: this.eqns.ET},
          {label: 'Runoff', name: 'DR', func: this.eqns.Qrunoff},
          {label: 'Recharge', name: 'GR', func: this.eqns.Qrecharge}
        ])
        .colors(this.colors)
        .xLabel('Effective Precip[t] + Soil Moisture[t-1]')
        .xDomain([0, 10])
        .yDomain([0, 10])
        .yLabel('Soil Moisture Component');
    },

    eqns: {
      Y: function(W) {
        return (W+App.params.b)/(2*App.params.a) - Math.sqrt(Math.pow((W+App.params.b)/(2*App.params.a),2) - (W*App.params.b/App.params.a));  
      },
      S: function(W) {
        return App.eqns.Y(W)*Math.exp(-App.params.PET/App.params.b);
      },
      ET: function(W) {
        return App.eqns.Y(W) - App.eqns.S(W);
      },
      Qrecharge: function(W) {
        return App.params.c*(W - App.eqns.Y(W));
      },
      Qrunoff: function(W) {
        return (1-App.params.c)*(W - App.eqns.Y(W));
      }
    },

    loadData: function() {
      console.log('Loading: input');
      var storedData = $.jStorage.get('abcd');

      if (storedData) {
        storedData['input'].forEach(function(d) {
          d.Date = new Date(d.Date);
        });
        
        this.inp = storedData['input'];

        this.params = _.extend(this.params, _.omit(storedData['params'], 'input'));
        this.render();
      }
    },

    compute: function(params, inp) {
      var a = params['a'];
      var b = params['b'];
      var c = params['c'];
      var d = params['d'];
      var e = params['e'];
      var Tb = params['Tb'];

      var At, mt, Pe, W, Y, S, GR, DR, G, dG, ET, Q;

      var out = inp.map(function(v, i) {

        if (i === 0) { // assign initial conditions
          At = params['A0'];
          S = params['S0'];
          G = params['G0'];
        } else {
          At = Math.max((v.Tavg_degC > Tb ? At - mt : At - mt + v.Precip_in), 0);
        }

        mt = v.Tavg_degC > Tb ? Math.min(At, e*(v.Tavg_degC - Tb)) : 0;
        Pe = v.Tavg_degC < Tb ? 0 : v.Precip_in + mt;

        W = S + Pe;
        Y = (W + b)/(2 * a) - Math.sqrt(Math.pow((W + b)/(2 * a),2) - (W * b / a));
        S = Y * Math.exp(-v.PET_in / b);
        GR = c * (W - Y);
        DR = Math.max((1 - c) * (W - Y), 0.001);

        G = (GR + G)/(1 + d);
        dG = d * G;
        ET = Y - S;
        Q = Math.max(DR + dG, 0.001);

        return {
            Date: v.Date,
            Tavg_degC: v.Tavg_degC,
            Precip_in: v.Precip_in,
            PET_in: v.PET_in,
            W: W,
            S: S,
            G: G,
            Y: Y,
            GR: GR,
            DR: DR,
            dG: dG,
            ET: ET,
            At: At,
            mt: mt,
            Pe: Pe,
            Q: Q
          };
      })

      return out;
    },

    render: function() {
      var data = this.compute(this.params, this.inp);
      d3.select("#chart-area-flows").call(this.chartAreaFlows.data(data));
      d3.select("#chart-area-stocks").call(this.chartAreaStocks.data(data));
      d3.select("#chart-line").call(this.chartLine.data(data));
      d3.select("#chart-structure").call(this.chartStructure);
    }
  }
  
  $(function() {
    App.init();
  });
  </script>
{% endblock %}