{% extends "base.html" %}
{% set active_page = "simulation" %}

{% block title %}Simulation{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <div id="controls" class="text-center">
      </div>
      <hr>
      {% include 'tabs-parameters.html' %}
      <hr>
      <h4>Model Diagram</h4>
      <div id="diagram"></div>
    </div>
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-flow"></div>
        <div id="chart-precip"></div>
        <div id="chart-storage"></div>  
      </div>
      <div class="text-center">
        <button class="btn btn-primary" data-target="#modal-add-chart" data-toggle="modal" id="btn-add-chart">+ Add Chart</button>
      </div>
      <hr>
    </div>
    <div class="col-md-3">
      <h4>Mass Balance Summary</h4>
      <ul class="list-unstyled">
        <li><abbr title="Precipitation">Total Inflow</abbr>: <span id="sum-in"></span> in</li>
        <li><abbr title="Flow + Evapotranspiration">Total Outflow</abbr>: <span id="sum-out"></span> in</li>
        <li><abbr title="Change in Soil Moisture, Groundwater, Snow">Net Storage</abbr>: <span id="sum-net"></span> in</li>
        <li><abbr title="Net Storage + Total Outflow - Total Inflow">Error</abbr>: <span id="sum-error"></span> in</li>
      </ul>
    </div>
  </div>


<div class="modal fade" role="dialog" id="modal-add-chart">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Chart</h3>
      </div>
      <div class="modal-body">
        <h4>Select Variables</h4>
        <select name="select-add-chart" id="select-add-chart" multiple="multiple" size="10">
          <option value="Tmin_degC">Min Temperature (degC)</option>
          <option value="Tmax_degC">Max Temperature (degC)</option>
          <option value="Tavg_degC">Average Temperature (degC)</option>
          <option value="Trng_degC">Temperature Range (degC)</option>
          <option value="PET_in">Potential Evapotranspiration (in)</option>
          <option value="Precip_in">Observed Precipitation (in)</option>
          <option value="Pe">Effective Precipitation (in)</option>
          <option value="Rainfall_in">Rainfall (in)</option>
          <option value="mt">Snowmelt (in)</option>
          <option value="Snowfall_in">Snowfall (in)</option>
          <option value="At">Snow Depth (in)</option>
          <option value="Flow_in">Observed Flow (in)</option>
          <option value="W">Available Water (in)</option>
          <option value="S">Soil Moisture (in)</option>
          <option value="Y">Evapotranspiration Opportunity (in)</option>
          <option value="ET">Evapotranspiration (in)</option>
          <option value="DR">Direct Runoff (in)</option>
          <option value="G">Groundwater Storage (in)</option>
          <option value="GR">Groundwater Recharge (in)</option>
          <option value="dG">Groundwater Discharge (in)</option>
        </select>
        <br>
        <p> </p>
        <p>Note: Use ctrl+click to show multiple variables on one chart</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" id="btn-add-chart-ok">Ok</a>
        <a href="#" class="btn btn" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modals %}

{% include 'control-modals.html' %}

<div class="modal fade" role="dialog" id="modal-help">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Simulation Help</h3>
      </div>
      <div class="modal-body">
        <h4>Description</h4>
        <p></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}