{% extends "base.html" %}
{% set active_page = "simulation" %}

{% block title %}Simulation{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-parameters" data-toggle="tab">Parameters</a></li>
        <li><a href="#tab-initial" data-toggle="tab">Initial</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab-parameters">
          <dl>
            <dt>a: <span id="param-a"></span></dt>
            <dd><input class="slider" type="range" min="0.98" max="1" step="0.001" value="0.998" name="a" /></dd>

            <dt>b: <span id="param-b"></span></dt>
            <dd><input class="slider" type="range" min="1" max="10" step="0.1" value="6.35" name="b" /></dd>

            <dt>c: <span id="param-c"></span></dt>
            <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.38" name="c" /></dd>

            <dt>d: <span id="param-d"></span></dt>
            <dd><input class="slider" type="range" min="0" max="0.2" step="0.001" value="0.0302" name="d"/></dd>
          </dl>
        </div>
        <div class="tab-pane" id="tab-initial">
          <dl>
            <dt>Snow Depth: <span id="param-A0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="1" name="A0"/></dd>

            <dt>Soil Moisture: <span id="param-S0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="S0"/></dd>

            <dt>Groundwater: <span id="param-G0"></span></dt>
            <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="G0"/></dd>
          </dl>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <div class="btn-toolbar">
          <button class="btn btn-primary" id="btn-save"><span class="glyphicon glyphicon-save"></span> Save</button>
          <button class="btn btn-danger" data-target="#modal-delete" data-toggle="modal" id="btn-delete-model"><span class="glyphicon glyphicon-trash"></span> Delete</button>
          <button class="btn btn-success" data-target="#modal-help" data-toggle="modal"><span class="glyphicon glyphicon-question-sign"></span> Help</button>
        </div>
      </div>
      <hr>
      <div id="chart-theory"></div>
    </div>
    <div class="col-md-6">
      <div id="chart-flow"></div>
      <div id="chart-storage"></div>
    </div>
    <div class="col-md-3">
      <h4>Model Diagram</h4>
      <div id="diagram"></div>
    </div>
  </div>
{% endblock %}
