{% extends "base.html" %}
{% set active_page = "theory" %}

{% block title %}Theory{% endblock %}

{% block style %}
  {{ super() }}
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    opacity: 0.25;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  svg {
    font-size: 10px;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }
{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block content %}
  <h1>Model Theory</h1>
  <hr>
  <div class="row">
    <div class="span7">
      <h3>Description</h3>
      <p>The ABCD water balance model is a simple hydrologic model for simulating streamflow in response to precipitation and evapotranspiration.</p>
      <p>Water storage consists of 1) soil moisture and 2) groundwater. Excess soil moisture is routed to groundwater as recharge or streamflow as surface runoff. Groundwater storage acts as a linear reservoir and discharges to streamflow.</p>
      <p> The total streamflow is comprised of surface runoff from the soil moisture compartment and discharge from the groundwater compartment.</p>
      <p>There are four parameters governing the model behavior: a, b, c, d. The values of these parameters can be estimated from physical characteristics of the watershed (i.e. soil properties), or by model calibration.</p>
      <p>The model runs on a daily time step and requires input timeseries of precipitation and potential evapotranspiration (PET). The PET timeseries is often computed using Hargreave's equation based on daily dewpoint, minimum and maximum temperatures.</p>
    </div>
    <div class="span5">
      <h3>Diagram</h3>
      <svg xmlns="http://www.w3.org/2000/svg" width="323px" height="307px" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="diagram">
        <defs/>
        <g transform="translate(0.5,0.5)scale(1,1)">
          <g transform="translate(10,105)">
              <rect x="0" y="0" width="120" height="60" fill="#ffffff" stroke="#000000" pointer-events="none" id="comp-S" class="component"/>
              <text x="58" y="35" fill="white" text-anchor="middle" font-size="12px" font-family="Helvetica">Soil Moisture</text>
          </g>
          
          <g transform="translate(10,235)">
              <rect x="0" y="0" width="120" height="60" fill="#ffffff" stroke="#000000" pointer-events="none" id="comp-G" class="component"/>    
              <text x="58" y="35" fill="white" text-anchor="middle" font-size="12px" font-family="Helvetica">Groundwater</text>
          </g>
          <path d="M 130 140 L 130 130 L 190 130 L 190 120 L 220 135 L 190 150 L 190 140 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-Qrunoff" class="component"/>
          <path d="M 130 280 L 130 270 L 190 270 L 190 260 L 220 275 L 190 290 L 190 280 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-Qdischarge" class="component"/>
          <path d="M 64 165 L 74 165 L 74 205 L 84 205 L 69 235 L 54 205 L 64 205 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-Qrecharge" class="component"/>
          <path d="M 105 105 L 95 105 L 95 55 L 85 55 L 100 25 L 115 55 L 105 55 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-ET" class="component"/>
          <path d="M 35 25 L 45 25 L 45 75 L 55 75 L 40 105 L 25 75 L 35 75 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-P" class="component"/>
          <rect x="145" y="95" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g text-anchor="middle" font-size="12px">
            <text x="160" y="108" fill="#000000" font-family="Helvetica">Runoff</text>
          </g>
          <rect x="90" y="185" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g font-size="12px">
            <text x="92" y="198" fill="#000000" font-family="Helvetica">Recharge</text>
          </g>
          <rect x="150" y="235" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g text-anchor="middle" font-size="12px">
            <text x="165" y="248" fill="#000000" font-family="Helvetica">Discharge</text>
          </g>
          <rect x="20" y="2" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g text-anchor="middle" font-size="12px">
            <text x="35" y="15" fill="#000000" font-family="Helvetica">Precipitation</text>
          </g>
          <rect x="90" y="2" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g text-anchor="middle" font-size="12px">
            <text x="105" y="15" fill="#000000" font-family="Helvetica">ET</text>
          </g>
          <path d="M 230 209 L 230 199 L 280 199 L 280 189 L 310 204 L 280 219 L 280 209 Z" fill="#ffffff" stroke="#000000" stroke-miterlimit="10" pointer-events="none" id="comp-Q" class="component" />
          <rect x="220" y="134" width="10" height="141" fill="#ffffff" stroke="#000000" pointer-events="none"/>
          <rect x="240" y="165" width="30" height="20" fill="none" stroke="none" pointer-events="none"/>
          <g font-size="12px">
            <text x="242" y="178" fill="#000000" font-family="Helvetica">Streamflow</text>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <hr>  
  <div class="row">
    <div class="span3">
      <h3>Soil Moisture</h3>
      <dl>
        <dt>a: <span id="param-a"></span></dt>
        <dd><input class="slider" type="range" min="0.9" max="1" step="0.001" value="1" name="a" /></dd>

        <dt>b: <span id="param-b"></span></dt>
        <dd><input class="slider" type="range" min="0" max="8" step="0.1" value="5" name="b" /></dd>
        
        <dt>c: <span id="param-c"></span></dt>
        <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.5" name="c" /></dd>
        
        <dt>PET: <span id="param-PET"></span></dt>
        <dd><input class="slider" type="range" min="0" max="2" step="0.1" value="1" name="PET" /></dd>
      </dl>
    </div>
    <div class="span4">
      <div id="chart-soil"></div>
    </div>
    <div class="span5">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-soil-variable" data-toggle="tab">Variables</a></li>
          <li><a href="#tab-soil-eqn" data-toggle="tab">Equations</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-soil-variable">
            $$\begin{array} \\
              W_t &= \text{Available Soil Water} \\
              Y_t &= \text{Evapotranspiration Potential} \\
              P_t &= \text{Precipitation} \\
              S_t &= \text{Soil Moisture} \\
              PET_t &= \text{Potential Evapotranspiration} \\
              ET_t &= \text{Actual Evapotranspiration} \\
              Q^{Recharge}_t &= \text{Recharge from Soil to Groundwater} \\
              Q^{Runoff}_t &= \text{Runoff from Soil to Streamflow}
            \end{array}$$
          </div>
          <div class="tab-pane" id="tab-soil-eqn">
            $$\begin{array} \\
            W_t &= S_{t-1} + P_t = S_t + ET_t + Q^{Recharge}_t + Q^{Runoff}_t \\
            Y_t &= S_t + ET_t = \frac{W_t+b}{2a} - \sqrt{\left(\frac{W+b}{2a}\right)^2 - \frac{bW}{a}} \\
            S_t &= Y_te^{-PET/b} \\
            ET_t &= Y_t\left(1-e^{-PET/b}\right) \\
            Q^{Recharge}_t &= c*(W_t - Y_t) \\
            Q^{Runoff}_t &= (1-c)*(W_t - Y_t)
            \end{array}$$
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span3">
      <h3>Groundwater</h3>
      <dl>
        <dt>d: <span id="param-d"></span></dt>
        <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.1" name="d" /></dd>
      </dl>
    </div>
    <div class="span4">
      <div id="chart-gw"></div>
    </div>
    <div class="span5">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-gw-variable" data-toggle="tab">Variables</a></li>
          <li><a href="#tab-gw-eqn" data-toggle="tab">Equations</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-gw-variable">
            $$\begin{array}\\
              G_t &= \text{Groundwater Storage} \\
              Q^{Recharge}_t &= \text{Recharge from Soil to Groundwater} \\
              Q^{Discharge}_t &= \text{Discharge from Groundwater to Streamflow}
            \end{array}$$
          </div>
          <div class="tab-pane" id="tab-gw-eqn">
            $$\begin{array} \\
            G_{t-1} + Q^{Recharge}_t &= G_t + Q^{Discharge}_t \\
            Q^{Discharge}_t &= dG_t
            \end{array}$$
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>

  <script>
  MathJax.Hub.Config({
    jax: ["input/TeX","output/HTML-CSS"],
    displayAlign: "left"
  });
  </script>

  <script>
  $(function() {
    App.init();
  });

  var App = {
    params: {
      a: 1,
      b: 5,
      c: 0.5,
      d: 0.1,
      Qrecharge: 1,
      PET: 1
    },

    eqnSoil: {
      Y: function(W) {
        return (W+App.params.b)/(2*App.params.a) - Math.sqrt(Math.pow((W+App.params.b)/(2*App.params.a),2) - (W*App.params.b/App.params.a));  
      },
      S: function(W) {
        return App.eqnSoil.Y(W)*Math.exp(-App.params.PET/App.params.b);
      },
      ET: function(W) {
        return App.eqnSoil.Y(W) - App.eqnSoil.S(W);
      },
      Qrecharge: function(W) {
        return App.params.c*(W - App.eqnSoil.Y(W));
      },
      Qrunoff: function(W) {
        return (1-App.params.c)*(W - App.eqnSoil.Y(W));
      }
    },

    eqnGW: {
      Qdischarge: function(GR) {
        return App.params.d*App.eqnGW.G(GR);
      },
      G: function(GR) {
        return GR/(1 + App.params.d);
      }
    },

    init: function() {
      var that = this;

      this.colors = d3.scale.ordinal()
        .range(["#444444", "#1f77b4", "#aec7e8", "#ffbb78", "#ff7f0e", "#98df8a","#2ca02c",  "#d62728", "#ff9896", "#9467bd", "#c5b0d5", "#8c564b", "#c49c94", "#e377c2", "#f7b6d2", "#7f7f7f", "#c7c7c7", "#bcbd22", "#dbdb8d", "#17becf", "#9edae5"])
        .domain(['P', 'S', 'ET', 'Qrecharge', 'Qrunoff', 'G', 'Qdischarge', 'Q']);
      
      var components = d3.select('#diagram').selectAll('.component');
      components.each(function(d,i) {
        var key  = this.getAttribute('id');
        key = key.slice(5, key.length);
        this.setAttribute('fill', that.colors(key));
      });

      $(".slider").each(function() {
        this.value = +that.params[this.name];
        $("#param-"+this.name).text(this.value);
      });

      $(".slider").change(function() {
        $("#param-"+this.name).text(this.value);
        that.params[this.name] = +this.value;  
        that.render();
      });

      this.chartSoil = d3.custom.ComponentChart()
        .width(390)
        .height(300)
        .funcs([
          {label: 'Soil Moisture', name: 'S', func: this.eqnSoil.S},
          {label: 'ET', name: 'ET', func: this.eqnSoil.ET},
          {label: 'Runoff', name: 'Qrunoff', func: this.eqnSoil.Qrunoff},
          {label: 'Recharge', name: 'Qrecharge', func: this.eqnSoil.Qrecharge}
        ])
        .colors(this.colors)
        .xLabel('Soil Moisture[t-1] + Precip[t]')
        .yLabel('Soil Moisture[t] + ET[t] + Recharge[t] + Runoff[t]')
        .xDomain([0, 10])
        .yDomain([0, 10]);

      this.chartGW = d3.custom.ComponentChart()
        .width(390)
        .height(300)
        .funcs([
          {label: 'Groundwater', name: 'G', func: this.eqnGW.G},
          {label: 'Discharge', name: 'Qdischarge', func: this.eqnGW.Qdischarge}
        ])
        .colors(this.colors)
        .xLabel('Groundwater[t-1] + Qrecharge[t]')
        .yLabel('Groundwater[t] + Qdischarge[t]')
        .xDomain([0, 10])
        .yDomain([0, 10]);

      this.render();
    },

    render: function() {
      d3.select('#chart-soil').call(this.chartSoil);
      d3.select('#chart-gw').call(this.chartGW);
    }
  };
  
  </script>
{% endblock %}