{% extends "base.html" %}
{% set active_page = "theory" %}

{% block title %}Theory{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script>
    MathJax.Hub.Config({
      jax: ["input/TeX","output/HTML-CSS"],
      displayAlign: "left"
    });
  </script>
{% endblock %}

{% block content %}
  <h1>Model Theory</h1>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <h3>Description</h3>
      <p>The ABCD water balance model is a simple hydrologic model for simulating streamflow in response to precipitation and evapotranspiration.</p>
      <p>Water storage consists of 1) soil moisture and 2) groundwater. Excess soil moisture is routed to groundwater as recharge or streamflow as surface runoff. Groundwater storage acts as a linear reservoir and discharges to streamflow.</p>
      <p> The total streamflow is comprised of surface runoff from the soil moisture compartment and discharge from the groundwater compartment.</p>
      <p>There are four parameters governing the model behavior: a, b, c, d. The values of these parameters can be estimated from physical characteristics of the watershed (i.e. soil properties), or by model calibration.</p>
      <p>The model runs on a daily time step and requires input timeseries of precipitation and potential evapotranspiration (PET). The PET timeseries is often computed using Hargreave's equation based on daily dewpoint, minimum and maximum temperatures.</p>
    </div>
    <div class="col-md-5">
      <h3>Diagram</h3>
      <div id="diagram"></div>
    </div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <h3>Soil Moisture</h3>
      <dl>
        <dt>a: <span id="param-a"></span></dt>
        <dd><input class="slider" type="range" min="0.9" max="1" step="0.001" value="1" name="a" /></dd>

        <dt>b: <span id="param-b"></span></dt>
        <dd><input class="slider" type="range" min="0" max="8" step="0.1" value="5" name="b" /></dd>
        
        <dt>c: <span id="param-c"></span></dt>
        <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.5" name="c" /></dd>
        
        <dt>PET: <span id="param-PET"></span></dt>
        <dd><input class="slider" type="range" min="0" max="2" step="0.1" value="1" name="PET" /></dd>
      </dl>
    </div>
    <div class="col-md-9 col-lg-4">
      <div id="chart-soil"></div>
    </div>
    <div class="col-sm-9 col-md-12 col-lg-5">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-soil-variable" data-toggle="tab">Variables</a></li>
        <li><a href="#tab-soil-eqn" data-toggle="tab">Equations</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-soil-variable">
          $$\begin{array} \\
            W_t &= \text{Available Soil Water} \\
            Y_t &= \text{Evapotranspiration Potential} \\
            P_t &= \text{Precipitation} \\
            S_t &= \text{Soil Moisture} \\
            PET_t &= \text{Potential Evapotranspiration} \\
            ET_t &= \text{Actual Evapotranspiration} \\
            DR_t &= \text{Direct Runoff from Soil to Streamflow} \\
            GR_t &= \text{Groundwater Recharge from Soil}
          \end{array}$$
        </div>
        <div class="tab-pane" id="tab-soil-eqn">
          $$\begin{array} \\
          W_t &= S_{t-1} + P_t = S_t + ET_t + GR_t + DR_t \\
          Y_t &= S_t + ET_t = \frac{W_t+b}{2a} - \sqrt{\left(\frac{W_t+b}{2a}\right)^2 - \frac{bW_t}{a}} \\
          S_t &= Y_te^{-PET_t/b} \\
          ET_t &= Y_t\left(1-e^{-PET_t/b}\right) \\
          DR_t &= (1-c)*(W_t - Y_t) \\
          GR_t &= c*(W_t - Y_t) 
          \end{array}$$
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <h3>Groundwater</h3>
      <dl>
        <dt>d: <span id="param-d"></span></dt>
        <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.1" name="d" /></dd>
      </dl>
    </div>
    <div class="col-md-9 col-lg-4">
      <div id="chart-gw"></div>
    </div>
    <div class="col-sm-9 col-md-12 col-lg-5">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-gw-variable" data-toggle="tab">Variables</a></li>
          <li><a href="#tab-gw-eqn" data-toggle="tab">Equations</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-gw-variable">
            $$\begin{array}\\
              G_t &= \text{Groundwater Storage} \\
              GR_t &= \text{Groundwater Recharge from Soil} \\
              GD_t &= \text{Groundwater Discharge to Streamflow}
            \end{array}$$
          </div>
          <div class="tab-pane" id="tab-gw-eqn">
            $$\begin{array} \\
            G_t + GD_t &= G_{t-1} + GR_t \\
            G_t &= \frac{G_{t-1} + GR_t}{1+d} \\
            GD_t &= dG_t
            \end{array}$$
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

